.cursor/rules/snyk_rules.mdc
.DS_Store
.env
.env.local
.github/instructions/snyk_rules.instructions.md
.pytest_cache/
.python-version
.speakeasy/reports
.venv/
**/__pycache__/
**/.speakeasy/logs/
**/.speakeasy/temp/
pyrightconfig.json
src/*.egg-info/
venv/
